.header-padre {
    margin-top: 40px;
    margin-left: 280px;
    margin-right: 20px;
    font-size: 16px;
    text-align: center;
}

#logo {
    width: 15%;
    text-align: left;
    display: inline;
    padding-right: 50px;
}

li {
    display: inline;
}

.navbar {
    width: 70%;
    text-align: center;
}

#BotonesNav {
    padding-left: 120px;
    width: 15%;
    text-align: right;
    display: inline;
}

#BotonesNav button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}